<style>
 
.grid-container-blue {
  
  	margin: 32px auto 0px;
    padding: 0px 32px;
    max-width: 1476px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 32px;
}
    
    
.grid-cell-first-blue {
  
    display:flex;
	position: relative;
    overflow: hidden;
    width: 100%;
    height: 464px;
    grid-area: span 1 / span 4 / auto / auto;
    border-radius: 16px;
    box-sizing: border-box;
    
}
    
.grid-cell-third-blue {
  
  	display: flex;
    align-items: center;
    justify-content: center;
  	position: relative;
    overflow: hidden;
    width: 100%;
    height: 464px;
    grid-area: span 1 / span 2 / auto / auto;
    border-radius: 16px;
    box-sizing: border-box;  
}
    
 .grid-cell-second-blue {
   
   	display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 464px;
    grid-area: span 1 / span 3 / auto / auto;
    border-radius: 16px;
    box-sizing: border-box;    
    
}
    
.grid-cell-full-blue {

  	grid-column: span 6 / auto;
    background: rgb(243, 244, 246);
    border-radius: 16px;
    padding: 56px 24px 60px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;

}

.hero-text-blue {
	padding: 55px 0px 0px 50px;
  	width:100%;
}
    
.img-container-blue {
 
  	display: block;
    margin-top: 32px;
    margin-left: 10px;
    width: 650px;
    height: 410px;
    margin-right: 40px;
    align-self: flex-end;
    position: relative;
  
}
    
.img-man-blue {
 
  width:400px;
  position:absolute;
  
}
    
.third-text-blue {
	padding: 30px;
  	width:100%;
  	text-align:center !important;
}
    
.bluelight-button {
       
    background: white;
    margin: 10px;
    padding: 15px 25px;
    border-radius: 100px;
    font-weight: 900;
    font-size: 20px;
    color: #121212;
    
}
    
@media screen and (max-width: 1100px){
  
  .grid-container-blue {
      padding: 0px 16px;
      margin: 16px auto 0px;
      gap: 16px;
  }

  .grid-cell-first-blue {

      padding: 0px 24px;
      flex-direction: column;
      height: auto;
      grid-column: span 6 / auto;
  }
  
  .grid-cell-third-blue, .grid-cell-second-blue {
  
  	padding: 0px 24px;
    flex-direction: column;
    height: auto;
    grid-column: span 6 / auto;

  }
  
  .hero-text-blue {
  
  	display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0px auto;
    padding: 40px 0px 0px;
    width: 100%;
    text-align: center !important;
    
  }
  
  .img-container-blue {
    
    display: block;
    margin-top: 10px;
    margin-left: 0px;
    width: auto;
    height: 300px;
    margin-right: 0px;
    align-self: center;
    position: relative;
    
  }
  
  .img-man-blue {
  	position:relative;
  }
  
  .third-text-blue{
     padding: 40px 0px 20px 0px;
  }
  
}

</style>

<div style="font-family:'Euclidcirculara webfont',Arial,sans-serif!important;" class="">
  <div class="grid-container-blue">
    
    <div class="grid-cell-first-blue" span="4" style="background:#C0E5FE">
      <div class="hero-text-blue">
      	<h1 style="font-weight:900;margin:0px;">What is section store? 🛍</h1>
        <p style="margin-top:30px;color: rgba(0, 0, 0, 0.7);">It's a revolutionary, disruptive and innovative new techn.... 🤢<br><br>Jokes aside. Section Store is what the name implies. A store full of sections. Shopify exclusive. Browse and find sections you need for your shop. Add to any theme. Edit from Shopify's theme editor. Yes it's dead simple.</p>
      </div>
      <div class="img-container-blue">
      	<img class="img-man-blue" src="https://cdn.shopify.com/s/files/1/0670/4834/1753/t/1/assets/19.png?v=1663765899">
      </div>
    </div>
   
    <div class="grid-cell-third-blue" span="2" style="background:rgba(142, 238, 185, 0.6)">
      <div class="third-text-blue">
      	<h1 style="font-weight:900;font-size:30px;">⚠️ Not a page builder</h1>
        <p style="margin-top:30px;color: rgba(0, 0, 0, 0.7);">Let's be clear what we're not. With Section Store you add new sections to your existing theme. That means you can keep using Shopify's page builder; the theme editor. Add sections to your home, product, cart or any page.<br><br>No steep learning curve here. We're all about the Shopify way of doing things.</p>
      </div>
    </div>
     <div class="grid-cell-third-blue" span="2" style="background:#FFEACB;">
      <div class="third-text-blue">
        <h1 style="font-weight:900;font-size:30px;">Lightning fast ⚡</h1>
        <p style="margin-top:30px;color: rgba(0, 0, 0, 0.7);">No scripts, no left-over code, no slowing-down, just wrooom 🏎.<br><br>Keep or even improve page-speed. Some apps could just have been a section. Replace apps with our sections. Use our instafeed, FAQ, trust badges etc. sections, instead of equivalent apps for each.</p>
      </div>
    </div>
    <div class="grid-cell-third-blue" span="2" style="background:rgba(255, 177, 175, 0.5)">
      <div class="third-text-blue">
      	<h1 style="font-weight:900;font-size:30px;">500+ Sections 👨‍💻</h1>
        <p style="margin-top:30px;color: rgba(0, 0, 0, 0.7);">We work tirelessly so you can design & customise your Shopify storefront with ease.<br><br>New sections added every week. All 2.0 ready (add to any page).</p>
      </div>
    </div> 
    <div class="grid-cell-third-blue" span="2" style="background:#D5D4F5">
      <div class="third-text-blue">
        <h1 style="font-weight:900;font-size:40px;"><span style="font-size:55px">❤️‍🔥</span><br><br>Buy once. Own forever.</h1>
        <p style="margin-top:30px;color: rgba(0, 0, 0, 0.7);">An old flame never dies. Same way your sections last forever. No recurring payments.<br>Almost all sections are priced from 0-$9 each.<br>Simple, cheap and transparent pricing.</p>
      </div>
    </div>
      <div class="grid-cell-second-blue" span="2" style="background:rgba(142, 238, 185, 0.6)">
      <div class="third-text-blue">
      	<h1 style="font-weight:900;font-size:30px;">Save money and time ⏱💸</h1>
        <p style="margin-top:30px;color: rgba(0, 0, 0, 0.7);">Imagine this: You want to add a new section to a page, but your theme doesn't have one you like. Do you buy a new theme, build your page from scratch with a page builder, hire a developer or find another app with monthly payment?<br><br>No, no, no & no. You browse Section Store and find that section you need. If we don't have it already you call us (or maybe just email 📮) and we make it for you.</p>
      </div>
    </div> 
    <div class="grid-cell-second-blue" span="2" style="background:#EEEFF2">
      <div class="third-text-blue">
        <h1 style="font-weight:900;font-size:40px;"><span style="font-size:55px">🤷‍♂️</span><br><br>But what is a section?</h1>
        <p style="margin-top:30px;color: rgba(0, 0, 0, 0.7);">Sections are the components that make up your whole store front. They can be customised in the Shopify theme editor. Shopify themes include only a limited number of sections. With Online store 2.0 (sections everywhere), you dont need to use page builders anymore. Sections can now be used as the primary way to design all pages on your shop.</p>
      </div>
    </div>
    <div class="grid-cell-full-blue" style="background:#C0E5FE">
      <div style="text-align: center !important;">
        <h1 style="font-weight:900;font-size:45px;">Find Your Section 🎉</h1>
        <p style="margin-top:30px;color: rgba(0, 0, 0, 0.7);font-weight:900;font-size:20px;">Install the free app and browse our wide variety of sections.</p>
        <div style="margin-top:40px;">
          <a class="bluelight-button" style="text-decoration:none;" href="https://apps.shopify.com/section-factory">Get Section Store 🛍</a>
        </div>
      </div>
    </div>
    
    
  </div>
</div>

{% schema %}
  {
    "name": "SS - Landing",
    "settings": [],
     	"presets": [
      {
        "name": "SS - Landing"
      }
	]
  }
{% endschema %}

{% javascript %}
{% endjavascript %}